/* ===================================================
                   LAYOUT/GENERAL	
====================================================== */
html {
  height: 100%;
}

body {
  min-height: 100%;    
  background: url(img/natural_paper2.png);   
}

.background-hidden {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	background: url(img/pool_table.png);  
	opacity: 0;
	transition-property: opacity;
    transition-duration: 0.75s;
}


/* ===================================================
               		CARD CHEST	
====================================================== */

.rec-container {
  width: 600px;
  height: 300px;
  position: absolute;
  perspective: 1000px;
  margin: 250px auto 0;  
  left: 0;
  right: 0;
}

.rec {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition-property: transform;
  transition-duration: 5.5s;
  transition-timing-function: ease-in-out;
}

.rec:hover {
	cursor: pointer;
}

.rec div {
  margin: 0;
  display: block;
  position: absolute;
  border: 3px solid #344;
}

.front, .back {
	width: 600px;
	height: 300px;
}

.left, .right {
	width: 300px;
	height: 300px;
	left: 150px;
}

.rec .front  { transform: rotateY(   0deg ) translateZ( 150px ); background: url(img/chest_front_sprite.png); animation: chest-front-sprite .45s steps(4) infinite;}
.rec .back   { transform: rotateX( 180deg ) translateZ( 150px ); background: url(img/chest_front_sprite.png); animation: chest-front-sprite .45s steps(4) infinite;}
.rec .right  { transform: rotateY(  90deg ) translateZ( 300px ); background: url(img/chest_side_sprite.png); animation: chest-side-sprite .45s steps(4) infinite;}
.rec .left   { transform: rotateY( -90deg ) translateZ( 300px ); background: url(img/chest_side_sprite.png); animation: chest-side-sprite .45s steps(4) infinite;}


/* ===================================================
                   		CARDS	
====================================================== */

.card-row {
	margin-bottom: 55px;	
	min-height: 235px;
	display: none;
	opacity: 0;
	transform: scale(0.9);
	transition-property: display scale;
	transition-duration: 2.5s;
}

.card-zoom {
	opacity: 1;
	transform: scale(1);
}

#first-row {
	margin-top: 50px;
}

.col-xs-3 {
	perspective: 700px;
}

.card {		
	width: 145px;
	height: 235px;
	margin: 0 auto;
	border: 1px solid #ddd;
	transform-style: preserve-3d;
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}

.card:hover {
	cursor: pointer;
}

.flipped {
	transform: rotateY(-180deg);
}

.front-face {
	background: url(img/playing_card_back.png);
	margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back-face {
	margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    animation: sprite .45s steps(4) infinite;
}


/* ===================================================
                       ANIMATION
====================================================== */

@keyframes sprite {
 100% {
   background-position: -580px;
 }
}

@keyframes chest-front-sprite {
	100% {
		background-position: -2400px;
	}
}

@keyframes chest-side-sprite {
	100% {
		background-position: -1200px;
	}
}

/*.frame { 
 background-color: transparent;
 background-image: url(sprite-output_344tjp0f9122d8d210995958d34d43db9caf87.png);
 background-repeat: no-repeat;
 width: 300px;  }
.frame-0 { background-position: 0 0; }
.frame-1 { background-position: -600px 0; } 
.frame-2 { background-position: -900px 0; } 
.frame-3 { background-position: -1200px 0; } */

/* FRONT*/
/*.frame { 
 background-color: transparent;
 background-image: url(sprite-output_up5hg3fa8f065d0fff6a082613f9704b1244b6.png);
 background-repeat: no-repeat;
 width: 600px;  }
.frame-0 { background-position: 0 0; }
.frame-1 { background-position: -1200px 0; } 
.frame-2 { background-position: -1800px 0; } 
.frame-3 { background-position: -2400px 0; } */


/* ===================================================
                       MODAL
====================================================== */

#overlay {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.0);    
    transition: background 0.5s;
}

.modal-window {
	border-radius: 5px;
	padding: 0px;
	border: 0px;
	background: #fff;
	margin-top: 50px;	
	opacity: 0;	
	transition: opacity 0.7s, transform 0.55s ease-in-out;
	transform: translateY(-300px);
}

.modal-header {	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #e60000;
	color: #fff;
	height: 100px;
	width: 100%;	
	position: relative;	
}

.modal-header h1 {
	display: inline-block;
	position: absolute;
	left: 20px;
	font-size: 45px;
	bottom: 10px;
}

#modal-dismiss {
	position: absolute;
	color: #fff;
	right: 10px;
	font-size: 32px;
	top: 5px;
}

#modal-dismiss:hover {
	color: #ddd;
	top: 6px;
}

.modal-content {	
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 25px;
	text-align: right;
}

.modal-content p {
	font-size: 37px;
}

.modal-content button {
	height: 70px;
	width: 110px;	
	margin-top: 50px;
	margin-left: 20px;
}

#play-yes i {
	color: #fff;
	font-size: 55px;
}

#play-no i {
	color: #fff;
	font-size: 55px;
}

.modal-active {
	opacity: 1;
	transform: translateY(100px)
}


/* ===================================================
                   XS BIRD CARD
====================================================== */

@media screen and (max-width: 767px) {
    body {
        background: url(img/paper_mobile.png);
    }
}

.bird-wrapper {
	perspective: 2000px;
}

.bird-card {
	width: 300px;
	height: 450px;
	margin: 50px auto 0;
	border: 1px solid #ddd;
	transform-style: preserve-3d;
	transition-property: transform;
	transition-duration: 3s;	
}

.bird-card:hover {
	cursor: pointer;
}

.bird-front {
	background: url(img/dove.png);	
	margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.bird-back {
	background: url(img/cage.png);	
	margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}