/* ===================================================
                   LAYOUT/GENERAL	
====================================================== */
html {
  height: 100%;

}
body {
  min-height: 100%;    
  background: url(http://www.walldevil.com/wallpapers/a52/wallpaper-textur-background-patterns-backgrounds-wallpapers.jpg);  
}


/* ===================================================
                   		CARD BOX	
====================================================== */



/* ===================================================
                   		CARDS	
====================================================== */

.card-row {
	margin-bottom: 55px;	
	min-height: 235px;
}

.card-row:nth-child(1) {
	margin-top: 30px;
}

.col-xs-3 {
	perspective: 700px;
}

.card {		
	width: 145px;
	height: 235px;
	margin: 0 auto;
	border: 1px solid #ddd;
	transform-style: preserve-3d;
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}

.flipped {
	transform: rotateY(-180deg);
}

.front-face {
	background: url(img/playing_card_back.png);
	margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back-face {
	margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    animation: sprite .45s steps(4) infinite;
}


/* ===================================================
                       ANIMATION
====================================================== */

@keyframes sprite {
 100% {
   background-position: -580px;
 }
}


/* ===================================================
                       MODAL
====================================================== */

#overlay {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.0);    
    transition: background 0.5s;
}

.modal-window {
	border-radius: 5px;
	padding: 0px;
	border: 0px;
	background: #fff;
	margin-top: 50px;	
	opacity: 0;	
	transition: opacity 0.7s, transform 0.55s ease-in-out;
	transform: translateY(-300px);
}

.modal-header {	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #e60000;
	color: #fff;
	height: 100px;
	width: 100%;	
	position: relative;	
}

.modal-header h1 {
	display: inline-block;
	position: absolute;
	left: 20px;
	font-size: 45px;
	bottom: 10px;
}

#modal-dismiss {
	position: absolute;
	color: #fff;
	right: 10px;
	font-size: 32px;
	top: 5px;
}

#modal-dismiss:hover {
	color: #ddd;
	top: 6px;
}

.modal-content {	
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 25px;
	text-align: right;
}

.modal-content p {
	font-size: 37px;
}

.modal-content button {
	height: 70px;
	width: 110px;	
	margin-top: 50px;
	margin-left: 20px;
}

#play-yes i {
	color: #fff;
	font-size: 55px;
}

#play-no i {
	color: #fff;
	font-size: 55px;
}

.modal-active {
	opacity: 1;
	transform: translateY(100px)
}


/* ===================================================
                   XS BIRD CARD
====================================================== */

@media screen and (max-width: 767px) {
    body {
        background: url(img/paper_mobile.png);
    }
}

.bird-wrapper {
	perspective: 2000px;
}

.bird-card {
	width: 300px;
	height: 450px;
	margin: 50px auto 0;
	border: 1px solid #ddd;
	transform-style: preserve-3d;
	transition-property: transform;
	transition-duration: 3s;	
}

.bird-front {
	background: url(img/dove.png);	
	margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.bird-back {
	background: url(img/cage.png);	
	margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}